.p-w-0 {
  width: 0%;
}
.p-w-1 {
  width: 1%;
}
.p-w-2 {
  width: 2%;
}
.p-w-3 {
  width: 3%;
}
.p-w-4 {
  width: 4%;
}
.p-w-5 {
  width: 5%;
}
.p-w-6 {
  width: 6%;
}
.p-w-7 {
  width: 7%;
}
.p-w-8 {
  width: 8%;
}
.p-w-9 {
  width: 9%;
}
.p-w-10 {
  width: 10%;
}
.p-w-11 {
  width: 11%;
}
.p-w-12 {
  width: 12%;
}
.p-w-13 {
  width: 13%;
}
.p-w-14 {
  width: 14%;
}
.p-w-15 {
  width: 15%;
}
.p-w-16 {
  width: 16%;
}
.p-w-17 {
  width: 17%;
}
.p-w-18 {
  width: 18%;
}
.p-w-19 {
  width: 19%;
}
.p-w-20 {
  width: 20%;
}
.p-w-21 {
  width: 21%;
}
.p-w-22 {
  width: 22%;
}
.p-w-23 {
  width: 23%;
}
.p-w-24 {
  width: 24%;
}
.p-w-25 {
  width: 25%;
}
.p-w-26 {
  width: 26%;
}
.p-w-27 {
  width: 27%;
}
.p-w-28 {
  width: 28%;
}
.p-w-29 {
  width: 29%;
}
.p-w-30 {
  width: 30%;
}
.p-w-31 {
  width: 31%;
}
.p-w-32 {
  width: 32%;
}
.p-w-33 {
  width: 33%;
}
.p-w-34 {
  width: 34%;
}
.p-w-35 {
  width: 35%;
}
.p-w-36 {
  width: 36%;
}
.p-w-37 {
  width: 37%;
}
.p-w-38 {
  width: 38%;
}
.p-w-39 {
  width: 39%;
}
.p-w-40 {
  width: 40%;
}
.p-w-41 {
  width: 41%;
}
.p-w-42 {
  width: 42%;
}
.p-w-43 {
  width: 43%;
}
.p-w-44 {
  width: 44%;
}
.p-w-45 {
  width: 45%;
}
.p-w-46 {
  width: 46%;
}
.p-w-47 {
  width: 47%;
}
.p-w-48 {
  width: 48%;
}
.p-w-49 {
  width: 49%;
}
.p-w-50 {
  width: 50%;
}
.p-w-51 {
  width: 51%;
}
.p-w-52 {
  width: 52%;
}
.p-w-53 {
  width: 53%;
}
.p-w-54 {
  width: 54%;
}
.p-w-55 {
  width: 55%;
}
.p-w-56 {
  width: 56%;
}
.p-w-57 {
  width: 57%;
}
.p-w-58 {
  width: 58%;
}
.p-w-59 {
  width: 59%;
}
.p-w-60 {
  width: 60%;
}
.p-w-61 {
  width: 61%;
}
.p-w-62 {
  width: 62%;
}
.p-w-63 {
  width: 63%;
}
.p-w-64 {
  width: 64%;
}
.p-w-65 {
  width: 65%;
}
.p-w-66 {
  width: 66%;
}
.p-w-67 {
  width: 67%;
}
.p-w-68 {
  width: 68%;
}
.p-w-69 {
  width: 69%;
}
.p-w-70 {
  width: 70%;
}
.p-w-71 {
  width: 71%;
}
.p-w-72 {
  width: 72%;
}
.p-w-73 {
  width: 73%;
}
.p-w-74 {
  width: 74%;
}
.p-w-75 {
  width: 75%;
}
.p-w-76 {
  width: 76%;
}
.p-w-77 {
  width: 77%;
}
.p-w-78 {
  width: 78%;
}
.p-w-79 {
  width: 79%;
}
.p-w-80 {
  width: 80%;
}
.p-w-81 {
  width: 81%;
}
.p-w-82 {
  width: 82%;
}
.p-w-83 {
  width: 83%;
}
.p-w-84 {
  width: 84%;
}
.p-w-85 {
  width: 85%;
}
.p-w-86 {
  width: 86%;
}
.p-w-87 {
  width: 87%;
}
.p-w-88 {
  width: 88%;
}
.p-w-89 {
  width: 89%;
}
.p-w-90 {
  width: 90%;
}
.p-w-91 {
  width: 91%;
}
.p-w-92 {
  width: 92%;
}
.p-w-93 {
  width: 93%;
}
.p-w-94 {
  width: 94%;
}
.p-w-95 {
  width: 95%;
}
.p-w-96 {
  width: 96%;
}
.p-w-97 {
  width: 97%;
}
.p-w-98 {
  width: 98%;
}
.p-w-99 {
  width: 99%;
}
.p-w-100 {
  width: 100%;
}
